services:
  backend:
    build: ./backend
    container_name: tareinador-api
    ports:
      - "5006:5006"
    volumes:
      - ./outputs:/app/outputs
      - ./uploads:/app/uploads
    env_file:
      - .env
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: tareinador-ui
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: unless-stopped
